* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: rgba(248, 204, 27, 0.817);
}

.content1 {
    flex: 1;
}

.head {
    background: linear-gradient(90deg, rgb(188, 244, 92), rgb(249, 227, 141), rgb(188, 244, 92));
    padding: 10px 5px;
}

.header-container {
    display: flex;
    align-items: center;
    /* Vertical alignment */
    justify-content: center;
    /* Center the heading */
    position: relative;
    padding: 25px 5px;
    /* To position logo absolutely */
}

.header-container img {
    height: 100px;
    position: absolute;
    left: 10px;
    padding: 5px 2px;
    /* Logo at left corner */
}

.head .he {
    color: rgb(206, 135, 2);
    margin: 0;
    border-bottom: 2px dashed orangered;
}

.todo-input-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.todo-input-grid {
    padding: 0px 10px;
    background-color: rgba(250, 241, 113, 0.906);
}

.st {
    padding: 15px 2px;

}

.st input {
    margin-right: 50px;
    padding: 5px 10px;
    border: 2px solid rgb(226, 148, 3);
    border-radius: 10px;
    color: blue;
}

.js-name-input {
    width: 500px;
}

.nd {
    padding: 15px 20px;
}

.nd button {
    /* margin-right: 50px; */
    padding: 8px 40px;
    border: 2px solid orange;
    border-radius: 10px;
    background-color: green;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

.or {
    color: rgb(154, 101, 3);
    align-items: center;
    text-align: center;
    font-weight: bolder;
    padding: 5px 2px;
}

.js-todo-list {
    padding: 5px 2px;
    background-color: rgb(232, 232, 85);
}

.js-due-date-input,
.js-due-time-input {
    width: 200px;
}

#todoheader {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    font-weight: bold;
    margin: 5px 10px;
    padding: 8px 12px;
    background: #ffe599;
    border: 2px solid orange;
    border-radius: 10px;
}

.todo-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    align-items: center;
    background: #f0d585;
    /* gap: 200px; */
    margin: 5px 10px;
    padding: 8px 12px;
    border: 2px solid rgb(241, 158, 5);
    border-radius: 6px;
    box-shadow: 1px 2px 6px 2px rgba(255, 0, 0, 0.669);
    gap: 20px;
}

.todo-name {
    font-weight: bold;
    color: darkblue;
    padding: 1px 5px;
    font-size: large;
}

.todo-date {
    font-weight: bolder;
    color: rgb(5, 5, 212);
    padding: 1px 5px;

}

.todo-time {
    font-weight: bolder;
    color: rgb(5, 5, 212);
    padding: 1px 5px;
}

.delete-todo-button {
    margin-left: auto;
    background: rgba(220, 3, 3, 0.922);
    color: white;
    border: none;
    border-right: 10px solid rgb(244, 19, 19);
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0.8px 2px 0px 0px black;

    /* font-size: large; */
    &:hover {
        background: rgba(168, 1, 1, 0.804);
    }
}

footer {
    margin-bottom: 0%;
    background: linear-gradient(60deg, white, #f4e5b7, #f6df9b, #f0d585, #c7b06a);
    padding: 4px 5px;
    display: flex;
    gap: 10px;
    align-items:center;
    justify-content: space-between;
}
#link{
    padding: 2px;
    margin-right: 10px;
}
#link a{
    padding: 2px;
    margin-right: 20px;
}
#link a img{
    padding: 0px;
   &:hover{
     box-shadow: 0px 0px 15px 2px rgb(3, 131, 222); 
    /* filter: drop-shadow(2px 2px 20px rgba(18, 0, 0, 0.961)); */
   }
}

@media (max-width:700px) {
    .todo-input-grid {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .js-name-input,
    .js-due-date-input,
    .js-due-time-input {
        width: 100%;
    }
    .st input {
        margin-right: 0;
    }
}
@media (max-width:600px) {
    .todo-input-grid {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .js-name-input,
    .js-due-date-input,
    .js-due-time-input {
        width: 100%;
    }
    .st input {
        margin-right: 0;
    }
}